.card{
    border-radius: 15px;
    border: none;
  }

  .covid{
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-size: small;
    padding: 5px;
    margin: 0 !important;
  }

  .top-nav{
    background: #000000;
    margin: 0;
    padding: 0;
  }


.product-discount-label, .product-new-label{
    color:#fff;
    background-color:#E74C3C;
    font-size:12px;
    text-transform:uppercase;
    padding:2px 7px;
    display:block;
    position:absolute;
    top:10px;left:10px;
    font-weight: bold;
 }


.country-label{
   color:#fff;
   font-size:20px;
   text-transform:uppercase;
   display:block;
   position:absolute;
   top:10px;left:10px;
   font-weight: bold;
}


.product-discount-label{
   background-color:#333;
   left:auto;right:0
}


.size{
    padding: 0;
   font-size: 500%;
   color: #E6F1F9;
}


.services{
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 150%;
  line-height: 42.19px;
}

.services-icon{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color:#85C9E9;

}

.services-p{
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  line-height: 28.13px;
}


/* Navbar */

.carousel-items {
  height: 50vh;
  min-height: 150px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 20%;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: bold;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}



/* Carasel */

@media (min-width: 769px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{
    transform: translateX(0);
  }

  .carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: flex;
  }
  }

  @media (max-width: 768px) and (min-width: 480px){
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%)
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{
    transform: translateX(0);
  }

  .carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: flex;
  }
  }