

  .card{
    border-radius: 15px;
    border: none;
  }

  .covid{
    text-align: center;
    color: #fff;
    padding: 5px;
  }

  .top-nav{
    background: #000000;
  }


       .product-discount-label, .product-new-label{
         color:#fff;
         background-color:#E74C3C;
         font-size:12px;
         text-transform:uppercase;
         padding:2px 7px;
         display:block;
         position:absolute;
         top:10px;left:10px;
         font-weight: bold;
        }


        .country-label{
          color:#fff;
          font-size:20px;
          text-transform:uppercase;
          display:block;
          position:absolute;
          top:10px;left:10px;
          font-weight: bold;
         }



       .product-discount-label{
         background-color:#333;
         left:auto;right:0
        }


.size{
    padding: 0;
   font-size: 500%;
   border: 3px solid #18A0FB;
/*
background: #E6F1F8;
border: 3px solid #18A0FB;
box-sizing: border-box; */
}


.services{
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 150%;
  line-height: 42.19px;
}

.services-icon{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color:#18A0FB;

}

.services-p{
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  line-height: 28.13px;
}

/* bunnrer */

.bunner {
  background-image: url("https://res.cloudinary.com/mahlatini/image/upload/v1549290017/Safari%20Guide/Best%20Safari%20Tours/SA_Best_Page.png");
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
 }


 #intro {
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355C;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}




/* Navbar */