*{font-size: 14px;}
.styleimg{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
.carousel-multi-item-2 .card img {
border-radius: 2px; }

.panel-title {
  position: relative;
}
  
.panel-title::after {
    content: "\f107";
    color: #333;
    top: -2px;
    right: 0px;
    position: absolute;
    font-family: "FontAwesome"
}

.panel-title[aria-expanded="true"]::after {
    content: "\f106";
}
.btn{

  float:left;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

b {
  font-size: 18px;
}
.body{
  background-color: white;
}
.card-body{
  font-size: 18px;
}
img.img-fluid{
  height: 120px; 
  width: auto;
}

.cardcenter{
  margin: 40px;
  width: 700px;
}

.btn-outline-primary{
  margin-left: 10px;
}
.a_center{
  position: relative;
  margin-left: 270px;
}
/* .margin_top{
  margin-top: 55px;
} */

.margin_bottom{
  margin-bottom: 55px;
}

table.roundedCorners { 
  border: 1px solid rgb(219, 219, 233);
  border-radius: 13px; 
  border-spacing: 0;
  }
table.roundedCorners td, 
table.roundedCorners th { 
  border-bottom: 1px solid rgb(219, 219, 233);
  padding: 10px; 
  }
table.roundedCorners tr:last-child > td {
  border-bottom: none;
}
.back_color{
background-color: rgb(196, 215, 223);
border-collapse: collapse;
 width: 100%;
 height: auto;
}
#map {
  height: 400px;
  width: 100%;
}
#startimage{
  height: 100%; 
    width: 700px;
}